{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Update Employee Details</h1>
    <form action="#" method='POST'> {% csrf_token %}

        <label for="first_name" class="form-label"> First Name</label> <br>
        <input type="text" class="form-control" value={{form.first_name}} name="first_name"><br>

        <label for="last_name" class="form-label"> Last Name</label> <br>
        <input type="text" class="form-control" value={{form.last_name}} name="last_name"><br>



        <label for="#" class="form-label">Select Department</label> <br>
        <select name="dept" class="form-select mb-2">
            <option value="{{0}}"> Select Department</option>
            {% for i in all_dept %}

            {% if i.id == form.dept.id %}
            <option value="{{i.id}}" selected="{{form.dept.id}}">{{i}} </option>
            {% else %}
            <option value="{{i.id}}">{{i}} </option>
            {% endif %}

            {% endfor %}
        </select>

        <label for="#" class="form-label">Select Role</label> <br>
        <select name="role" class="form-select mb-2">
            <option value="{{0}}"> Select Role</option>
            {% for i in all_role %}

            {% if i.id == form.role.id %}
            <option value="{{i.id}}" selected="{{form.role.id}}">{{i}} </option>
            {% else %}
            <option value="{{i.id}}">{{i}} </option>
            {% endif %}

            {% endfor %}
        </select>


        <label for="salary" class="form-label">Salary</label> <br>
        <input type="number" class="form-control" value="{{form.salary}}" name="salary">

        <label for="bonus" class="form-label">Bonus</label> <br>
        <input type="number" class="form-control mb-1" value="{{form.bonus}}" name="bonus">

        <label for="phone" class="form-label">Phone</label> <br>
        <input type="number" class="form-control mb-1" name="phone" value="{{form.phone}}">


        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>



</div>
{% endblock content %}